html {
	height: 100vh;
}

body {
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

p.body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 2;
	color: #fff;
}

container {
	width: 100vh;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #eaa085;
	margin-left: -122px;
	font-size: 105px;
	text-align: left !important;
	margin-top: 100px;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #eaa085;
	font-size: 20px;
	letter-spacing: .25px;
}

h4 {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 35px;
	color: #fff;
}

button, button:focus {
	width: 500px;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #eaa085;
	font-size: 12px;
	background-color: transparent;
  	border-radius: 4px;
  	border: 1px solid #eaa085;
}

button:hover {
	color: #FFF;
  	background-color: #eaa085;
  	border-color: #eaa085; 
}

/*#nav ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
}*/

#sidebar {
	position: fixed;
    top: 94%;
    padding: 22px;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(0,0);
}

#sidebar-text {
	background-color: #eaa085;
	height: 100vh;
	width: 5.5%;
}

#gradient {
	background: rgba(110,148,201,1);
background: -moz-linear-gradient(-45deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(110,148,201,1)), color-stop(49%, rgba(151,201,184,1)), color-stop(100%, rgba(224,248,180,1)));
background: -webkit-linear-gradient(-45deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
background: -o-linear-gradient(-45deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
background: linear-gradient(135deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e94c9', endColorstr='#e0f8b4', GradientType=1 );
	margin-left: 0px;
	height: 100vh;
	width: 42.5%;
}

.gradient-content {
	margin-top: 90px;
	margin-bottom: 90px;
	margin-left: 70px;
	margin-right: 160px;
}

.numberAdvice {
	display: block;
	position: absolute;
	top: 185px;
	margin-left: 20px;
}

.advice {
	display: block;
	position: absolute;
	top: 115px;
	margin-left: 20px;
	margin-right: 20px;
}

#thing-content {
	position: relative;
	background-color: #fff;
	margin-left: 0px;
	height: 100vh;
	width: 52%;
}

.buttons {
	display: block;
	position: absolute;
	right: 180px;
	bottom: 195px;
}

.nav {
	display: block;
	position: absolute;
	height: 25px;
	background-color: #fff;
	padding: 25px;
	top: 0px;
}

.footer {
	display: block;
	position: absolute;
	height: 25px;
	background-color: #fff;
	padding: 25px;
	bottom: 0px;
}
