html {
	height: 100vh;
}

body {
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	cursor: cell;
	color: #555;
	
}

p#modal {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	text-align: center;
	text-transform: none;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 2;
	text-transform: lowercase;
}

a {
  	color: #555;
  	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 2;
	text-decoration: none;
	text-transform: lowercase;
}

a:hover {
  	color: #eaa085;
  	text-decoration: overline; 
  	cursor: crosshair;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #eaa085;
	margin-left: -140px;
	margin-right: 20px;
	font-size: 105px;
	text-align: left !important;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 35px !important;
	font-size: 25px;
	line-height: 1.5;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #eaa085;
	font-size: 20px;
	letter-spacing: .25px;
	text-align: left !important;
	margin-left: -390px;
}

h4 {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 35px;
	color: #fff;
}

h5 {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #555;
}

button, button:focus {
	width: 500px;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #eaa085;
	font-size: 14px;
	background-color: transparent;
  	border-radius: 4px;
  	border: 1px solid #eaa085;
  	height: 40px;
  	margin-bottom: 20px;
}

button:hover {
	color: #FFF;
  	background-color: #eaa085;
  	border-color: #eaa085; 
  	cursor: crosshair;
}

ul li {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
}

span.copyright {
	padding-right: 440px;
}

span.icons {
	padding-right: 10px;
	padding-left: 10px;
}

#sidebar {
	position: fixed;
    top: 94%;
    padding: 10px;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(0,0);
}

#sidebar-text {
	background-color: #eaa085;
	height: 100vh;
	width: 5.5%;
}

#gradient {
	background-image: url(../img/gradients/gradient15.jpg);
	background-size: cover;
	/*background: rgba(110,148,201,1);
background: -moz-linear-gradient(-45deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(110,148,201,1)), color-stop(49%, rgba(151,201,184,1)), color-stop(100%, rgba(224,248,180,1)));
background: -webkit-linear-gradient(-45deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
background: -o-linear-gradient(-45deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
background: linear-gradient(135deg, rgba(110,148,201,1) 0%, rgba(151,201,184,1) 49%, rgba(224,248,180,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e94c9', endColorstr='#e0f8b4', GradientType=1 );*/
	margin-left: 0px;
	height: 100vh;
	width: 42.5%;
}

.gradient-content {
	margin-top: 90px;
	margin-bottom: 90px;
	margin-left: 70px;
	margin-right: 160px;
}

#thing-content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	margin-left: 0px;
	height: 100vh;
	width: 52%;
}

.nav {
	align-items: stretch;
	height: 25px;
	background-color: #fff;
	padding: 25px;
}

.numberAdvice {
	margin-top: 95px;
}

.advice {
	flex-grow: 1;
	margin-left: 20px;
	margin-top: -20px;
}

.buttons {
	flex-grow: 1;
	margin-top: 200px;
	justify-content: center;
	align-items: center;
	position: fixed;
}

.footer {
	align-items: stretch;
	height: 25px;
	background-color: #fff;
	padding: 25px;
	margin-bottom: 30px;
}

/* modal styles */

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
	text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #eaa085;
    font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 80px;
}

.modal-body {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-footer {
	text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.btn-primary{
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #FFF;
	font-size: 14px;
	background-color: #eaa085;
  	border-radius: 4px;
  	border: 1px solid #eaa085;
  	height: 40px;
  	margin: 20px 0px;

}

.btn-primary:hover {
    color: #eaa085;
  	background-color: #FFF;
  	border-color: #FFF; 
  	cursor: crosshair;
  	border-radius: 4px;
  	border: 1px solid #eaa085;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #eaa085;
  	background-color: #FFF;
  	border-color: #FFF; 
  	cursor: crosshair;
  	border-radius: 4px;
  	border: 1px solid #eaa085;
}

/* form styles */

.submit {
	text-align: center;
}

label.class {
	margin-left: 20px;
}

.form-control {
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  color: #888;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #eaa085;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234, 160, 133, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234, 160, 133, .6);
}
